<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dota2 Hero Stats </title>
    <link href="./main.css" rel="stylesheet">
</head>
<body>
  <div class="flex-box">
    <div class="logo-section">
      <img class="dotalogo" src="../assets/Dota-2-Logo.png" alt="Dota 2 Logo">
    </div>

    <div class="content-section">
      <form class="input-section input-flex" method="POST" >
        <input name="heroName" class="hero-input" placeholder="Enter Hero">
        <button type="submit"> Submit </button>
      </form>
      <% if(locals.selectedHero) { %>
      <div class="img-section">
        <img class="hero-icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/heroes/<%=selectedHero.toLowerCase() %>.png" alt="Hero icon"> 
      </div>
      <div class="hero-stats">
        <h1 class="stat-title"> <%= selectedHero.replace("_", " ").toUpperCase() %>
          %> Stats: </h1>
          <% if(locals.statOutput) { %>
            <ul>
              <% locals.statOutput.forEach(stat => { %>
                  <strong>Primary Stat:</strong> <%= stat.primaryStat %><br>
                  <strong>Attack Type:</strong> <%= stat.attackType %><br>
                  <strong>Roles:</strong> <%= stat.roles.join(', ') %><br>
                  <strong>Base Health:</strong> <%= stat.baseHealth %><br>
                  <strong>Base Mana:</strong> <%= stat.baseMana %><br>
                  <strong>Base Strength:</strong> <%= stat.baseStr %><br>
                  <strong>Base Agility:</strong> <%= stat.baseAgi %><br>
                  <strong>Base Intelligence:</strong> <%= stat.baseInt %><br>
                  <strong>Move Speed:</strong> <%= stat.moveSpeed %><br>
              <% }); %>
            </ul>

            <h2 class="heroQoute"><%=heroQoute %></h2>
            
          <% } %>
      </div>
      <%} %>
      <% if(!locals.selectedHero) { %>
        <div class="img-section">
          <img class="hero-icon" src="../assets/default-hero.webp" alt="Hero icon"> 
        </div>
        <div class="hero-stats">
          <h1 class="stat-title"> Type Hero Name</h1>
        </div>
        <%} %>
    </div>
    <form action="/" method="GET"> 
      <a href="/heroes">
        <h3> See Dota2 Heroes </h3>
      </a>
    </form >
  </div>
</body>
</html>